<%- layout ("/layouts/boilerplate") -%>
    <style>
        .filters {
            margin-top: 1rem;
        }
    </style>

    <body>
        <div class="filters">
            <div class="filter">
                <div> <i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
            <% for(let listing of allListings){ %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card col listing-card" style="width: 21.5rem;">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b><br>
                                <%= listing.price.toLocaleString("en-In") %>/night
                            </p>
                        </div>
                    </div>
                    <% } %>
                </a>
        </div>