<%- layout ("/layouts/boilerplate") -%>
    <style>
        #filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        .filter i {
            font-size: 1.8rem;
        }

        .filter p {
            font-size: 0.8rem;
        }

        .filter {
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .tax-info {
            display: none;
        }

        .tax-toggle {
            display: flex;
            padding: 1rem;
            margin-left: 2rem;
            margin-top: 10px;
            height: 3.5rem;
            width: 320px;
            align-items: center;
            justify-content: center;
            border: 2px solid rgb(229, 227, 227);
            border-radius: 1rem;
        }
    </style>

    <body>
            <div class="collapse navbar-collapse " id="filters">
                <div class="filter">
                    <div> <i class="fa-solid fa-fire"></i></div>
                    <p>Trending</p>
                </div>
                <div class="filter">
                    <div> <i class="fa-solid fa-bed"></i></div>
                    <p>Rooms</p>
                </div>
                <div class="filter">
                    <div> <i class="fa-solid fa-mountain-city"></i></div>
                    <p>Iconic Cities</p>
                </div>
                <div class="filter">
                    <div> <i class="fa-solid fa-mountain"></i></div>
                    <p>Mountains</p>
                </div>
                <div class="filter">
                    <div> <i class="fa-brands fa-fort-awesome"></i></div>
                    <p>Castles</p>
                </div>
                <div class="filter">
                    <div> <i class="fa-solid fa-person-swimming"></i></div>
                    <p> Amazing Pools</p>
                </div>
                <div class="filter">
                    <div> <i class="fa-solid fa-campground"></i></div>
                    <p>Camping</p>
                </div>
                <div class="filter">
                    <div> <i class="fa-brands fa-fort-awesome"></i></div>
                    <p>Farms</p>
                </div>
                <div class="filter">
                    <div> <i class="fa-solid fa-snowflake"></i></div>
                    <p> Arctic</p>
                </div>
                <div class="filter">
                    <div> <i class="fa-solid fa-igloo"></i></div>
                    <p>Igloo</p>
                </div>
                <div class="filter">
                    <div> <i class="fa-solid fa-umbrella-beach"></i></div>
                    <p>beach</p>
                </div>
                <div class="tax-toggle">
                    <div class="form-check-reverse form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
                    </div>
                </div>
            </div>
            <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
                <% for(let listing of allListings){ %>
                    <a href="/listings/<%= listing._id %>" class="listing-link">
                        <div class="card col listing-card" style="width: 21.5rem;">
                            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image">
                            <div class="card-img-overlay"></div>
                            <div class="card-body">
                                <p class="card-text">
                                    <b>
                                        <%= listing.title %>
                                    </b><br>
                                    <%= listing.price.toLocaleString("en-In") %>
                                        <i class="tax-info"> &nbsp; 18% GST</i>
                                </p>

                            </div>
                        </div>
                        <% } %>
                    </a>
            </div>
        <script>
            let taxSwitch = document.getElementById("flexSwitchCheckDefault");
            taxSwitch.addEventListener("click", () => {
                let taxInfo = document.getElementsByClassName("tax-info");
                for (info of taxInfo) {
                    if (info.style.display != "inline") {
                        info.style.display = "inline"
                    } else {
                        info.style.display = "none"
                    }
                }
            })
        </script>