<!-- search.ejs -->
<% if (searchResults.length > 0) { %>
    <h2>Search Results for "<%= query %>":</h2>
    <ul>
        <% searchResults.forEach(listing => { %>
            <li>
                <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
                - <%= listing.location %>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <h2>No listings found for "<%= query %>"</h2>
<% } %>
